upstream {{ app_name }}_backend {
    server unix:{{ app_path }}/tmp/sockets/unicorn.sock fail_timeout=0;
}

server {
    server_name {{ ansible_fqdn }} {{ ansible_hostname }} localhost;

    listen 80 default_server;

    {% if ssl %}
    listen 443 ssl;

    ssl_certificate /etc/nginx/ssl/{{ ansible_fqdn }}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ ansible_fqdn }}.key;
    {% endif %}

    client_max_body_size 1G;

    root       {{ app_path }}/public;
    error_log  /var/log/nginx/{{ app_name }}_error.log;
    access_log /var/log/nginx/{{ app_name }}_access.log;

    error_page 404             /404.html;
    error_page 500 502 503 504 /500.html;

    location /assets {
        access_log off;
        expires 1d;
        gzip_static on;
    }

    location / {
        try_files $uri @app;
    }

    location @app {
        proxy_pass http://{{ app_name }}_backend;
        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header Referer $http_referer;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
